#llvm 21.1.7

Checks: 'bugprone-*, -bugprone-easily-swappable-parameters,
cppcoreguidelines-*, -cppcoreguidelines-pro-type-union-access, -cppcoreguidelines-pro-bounds-constant-array-index, -cppcoreguidelines-pro-bounds-pointer-arithmetic,
google-*,
hicpp-*, -hicpp-uppercase-literal-suffix, -hicpp-signed-bitwise,
llvm-*, -llvm-qualified-auto,
misc-*,
modernize-*, -modernize-use-designated-initializers, -modernize-use-trailing-return-type,
performance-*,
portability-*,
readability-*, -readability-identifier-length, -readability-uppercase-literal-suffix, -readability-redundant-member-init, -readability-implicit-bool-conversion, -readability-qualified-auto,
  -readability-isolate-declaration, -readability-math-missing-parentheses,
  -cert-msc51-cpp'

CheckOptions:
  #hillarious
  bugprone-argument-comment.StrictMode: false
  #based:
  #bugprone-assert-side-effect.AssertMacros: "", " "
  bugprone-assert-side-effect.IgnoredFunctions: ""
  bugprone-assert-side-effect.CheckFunctionCalls: true

  #may be useful later
  #bugprone-dangling-handle.HandleClasses: ""

  google-runtime-int.UnsignedTypePrefix: 'uint'
  google-runtime-int.SignedTypePrefix: 'int'
  google-runtime-int.TypeSuffix: '_t'

  readability-identifier-naming.FunctionCase: camelBack

  #todo continue...
