repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.24.0
    hooks:
      - id: gersemi
